/* SUMÁRIO DE PROPRIEDADES *:
    1) Box-sizing -> ele dita como o tamanho do conteúdo deve ser calculado:
            com o "valor" border-box ele calcula o tamanho somando altura, comprimento, borda e o padding;

            com o "valor" content-box ele calcula o tamanho a partir da altura e largura. Padding e borda são adicionados depois desse calculo;
        FONTE -> https://developer.mozilla.org/pt-BR/docs/Web/CSS/box-sizing
        PAPEL -> Estou usando a propriedade pra evitar que a caixa do h1 que estou usando passe do tamanho fixo que quero mante-la

    2) Display -> Determina como o elemento vai ser enxergado (bloco ou linha) e qual   vai ser o "perfil" de formatação dos filhos dele (os elementos que estiverem dentro da tag):
        com o "valor" flex o elemento passa a ser entendido como um bloco (uma caixa) e os filhos passam a seguir as regras do FLEXBOX **

            ** FLEXBOX: conjunto de regras que ditam como o conteúdo deve ser "apresentado" em linha ou em coluna, basicamente onde e como eles devem preencher os espaços da caixa principal

        2.1) justify-content -> determina onde e como os elementos devem ficar na direção determinada (no caso a organização ta acontecendo baseada em uma linha, mas poderia ser em colunas). Por padrão o display: flex já diz que a direção/orientação é em linha, para ter controle se vai ser em linhas ou em colunas deve-se usar flex-direction**

            ** flex-direction: te permite dizer se os elementos vão ser organizados em linhas ou colunas (por padrão é usado linha - valor: row)

        2.2) align-items -> determina o posicionamento do conteudo da caixa de acordo com a "direção oposta" determinada pelo flex-direction, se o valor for "row" ou em linha ele vai ditar o comportamento de acordo com a coluna e vice-versa
    FONTE -> https://developer.mozilla.org/pt-BR/docs/Web/CSS/CSS_display
    PAPEL -> usei esse conjunto de regras pra centralizar o conteudo do meu h1 com objetivos estéticos

    3) pointer-events -> dita se o "ponteiro do mouse" terá ou não interação com o elemento

        com o "valor" none: impede que o ponteiro do mouse entenda o elemento como uma possível interação
    FONTE -> https://developer.mozilla.org/pt-BR/docs/Web/CSS/pointer-events
    PAPEL -> usei para impedir a navegação de uma página para ela mesma. Exemplo: seu o usuário se encontra na home, não faz sentido um botão pra ele ir a home.
*/

/* OBSERVAÇÕES:
    1) declarei margin e padding como 0 para todos os elemetos usando '*' (é um seletor universal) para ter mais controle dos espaços na minha página (questão de preferência);

    2) função calc() permite atribuir valores que são resultados de algum calculo, no caso usei para fazer com que a minha região alunos ocupasse o espaço restante da tela

        2.1) vh -> unidade de medida baseada na resolução/tamanho da tela, usei pelo fato de que resolução de tela ser algo variável
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,400;1,600;1,700&family=Tiny5&display=swap');

* /* OBS - 1* */{ 
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #555555;
}

h1 {
    width: 100%;
    height: 100px;

    display: flex;  /* PROP - 2* */
    justify-content: center; /* PROP - 2.1* */
    align-items: center; /* PROP - 2.2* */

    font-family: "Tiny5";
    font-size: 48px;
    font-weight: bold;
    color: #fff;

    background: #111111;

    padding: 10px;
    box-sizing: border-box; /* PROP - 1* */

    margin-top: 0;
}

.nav-bar {
    width: 100%;
    height: 50px;

    position: fixed; /* PROP - 6.1* */
    z-index: 1; /* PROP - 5* */

    display: flex; /* PROP - 2* */
    justify-content: center; /* PROP - 2.1* */
    align-items: center; /* PROP - 2.2* */

    font-family: "Tiny5";
    font-size: 26px;
    font-weight: normal;
    color: #fff;

    background: #111111;

    box-shadow: 0px 4px 3px 0px #00000078;

    padding: 10px;
    box-sizing: border-box; /* PROP - 1* */
}

.nav-link {
    text-decoration: none;
    color: #fff;

    padding: 10px;
    box-sizing: border-box; /* PROP - 1* */
}

.nav-link:hover {
    background: #fff;
    color: #111111;

    border-left: 5px solid #f0003c;
    border-top: 5px solid #f0003c;

    border-right: 5px solid #046cff;
    border-bottom: 5px solid #046cff;
}

#curr-page {
    background: #fff;
    color: #111111;

    padding: 10px;
    box-sizing: border-box; /* PROP - 1* */

    border-left: 5px solid #f0003c;
    border-top: 5px solid #f0003c;

    border-right: 5px solid #046cff;
    border-bottom: 5px solid #046cff;

    pointer-events: none; /* PROP - 3* */
}

.reg-alunos {
    width: 100%;
    height: calc(100vh - 100px); /* OBS - 2* & 2.1* */

    /* background: rebeccapurple; */

    display: flex; /* PROP - 2* */
    flex-direction: column; /* PROP - 2** */
    justify-content: center; /* PROP - 2.1* */
    align-items: center; /* PROP - 2.2* */

    /* padding: 10px; */
    box-sizing: border-box; /* PROP - 1* */
}

#box-1 {
    height: 100px;

    position: absolute; /* PROP 6* */
    top: 150px;


    background: #111111;
    color: #fff;

    display: flex; /* PROP - 2* */
    flex-direction: column; /* PROP - 2** */
    justify-content: center; /* PROP - 2.1* */
    align-items: center; /* PROP - 2.2* */

    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right,#046cff 50%, #f0003c 50%) /* OBS - 3* */; /* PROP - 4* */
    border-image-slice: 1; /* PROP - 4.1* */

    padding: 5px;
    box-sizing: border-box; /* PROP - 1* */
}

#box-1 h2 {
    font-family: "Tiny5";
    font-size: 36px;
}


#box-2 {
    width: 100%;
    height: 100%;
    /* height: 100%; */

    display: flex; /* PROP - 2* */
    justify-content: space-evenly; /* PROP - 2.1* */
    align-items: center; /* PROP - 2.2* */
}

.item-aluno {
    width: 50%;
    height: 100%;

    display: flex; /* PROP - 2* */
    flex-direction: column; /*PROP - 2** */
    justify-content: center; /* PROP - 2.1* */
    align-items: center; /* PROP - 2.2* */
    
    margin: auto;
    box-sizing: border-box;

    transition: 0.3s linear; /* PROP - 6*/
}

.item-aluno h3 {
    font-family: "Tiny5";
    font-size: 36px;

    color: #fff;
}

#item-aluno-1 {
    border-right: 5px solid #046cff;
}

#item-aluno-1:hover {
    width: 60%;
    background: #046cff;
}

#item-aluno-2 {
    border-left: 5px solid #f0003c;
}

#item-aluno-2:hover {
    width: 60%;
    background: #f0003c;
}

.item-aluno img {
    border: 5px solid #555555;
}

