/* DESCRIÇÃO DE PROPRIEDADES E OBSERVAÇÕES ESTÃO NO 'main.css' */

@import url(main.css); /* arquivo de configurações globais */

table {
    width: 75%;

    position: absolute; /* PROP 5* & 5.2* */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%); /* PROP - 9* */

    font-size: 26px;
    color: #fff;

    border-collapse: collapse;
}

caption {
    font-family: "Tiny5";
    font-size: 46px;
    font-weight: bold;
    color: #fff;

    margin-bottom: 20px;
}

table thead tr{ pointer-events: none; /* PROP - 3* */ }

td, th {
    min-width: 150px;

    border: 2px dashed #fff;    

    padding: 10px;
    box-sizing: border-box; /* PROP - 1* */
}

th {
    font-family: "Tiny5";
    font-size: 36px;
    border: 2px solid #fff;
}

.th-aluno-1 { color: #046cff;}
.th-aluno-2 { color: #f0003c; }

tr:hover {
    background: #fff;
    color: #000;
}

.td-aluno-1:hover { outline: 5px dashed #046cff; /* PROP - 8* */ }

.td-aluno-2:hover { outline: 5px dashed #f0003c; /* PROP - 8* */ }
